#bgimg {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("/assets/Twisted_Fate.jpg") no-repeat;
    background-size: cover;
}

.server-connection{
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    padding: 10px;
    color: white;
    border-radius: 5px 0px 0px 0px;
}

.server-connection img{
    width:64px;
}

.main-menu{
    display: inline-block;
    background: rgba(255,255,2656,0.2);
    margin:0px;
    border-radius: 0px 0px 5px 5px;
    text-align: center;
    padding: 0px 50px;
}

.main-menu li{
    display:inline-block;
    padding:10px;
}

.main-menu a{
    color: white;
}

.main-menu .active{
    color:#88FF00;
}

#page-content{

}

.queue-button{
    margin-top:50px;
    margin-bottom:50px;
    text-align: center;
}

.queue-button a{
    width:20%;
    display:inline-block;
    text-align: left;
}

.queue-button-inner{
    text-align: center;
}

.queue-button-inner span{
    font-size:2rem;
    vertical-align: top;
}

.queue-button-inner i{
    margin-left:10px;
    font-size: 2.5rem!important;
}

#client-chat{
    position: fixed;
    bottom: 0;
    right: 94px;
    padding: 20px;
    height: 90px;
    width: 84px;
    border-radius: 5px 5px 0px 0px;
    background: rgba(0,0,0,0.5);
    text-align: center;
}

#client-chat li{
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}

#client-chat .client-chat-icon{
    padding:0px;
    right: 108px;
    bottom: 17px;
}

#client-chat .btn-large i{
    font-size: 3rem;
}

#client-chat ul a{
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: auto !important;
}

@media screen and (max-width: 800px) {
    html {
        background: url("/assets/Twisted_Fate.jpg") #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}