.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

body{
    padding: 20px;
    background: #3B3042;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#match{
    color:white;
}

.match-timer{
    position:fixed;
    width:100px;
    text-align: center;
    top:0;
    left:50%;
    right:50%;
    margin-left:-50px;
    background:rgba(0,0,0,0.6);
    border-radius:0px 0px 5px 5px;
    padding:10px;
    box-shadow:1px 1px 5px black;
    cursor:default;
    font-weight:bold;
}

.faded{
    opacity:0.5;
}

.opponent-name{
    position: fixed;
    top: 20px;
    left: 0;
    padding: 10px 30px 10px 30px;
    margin: 0px;
    background: rgba(0,0,0,0.5);
    border-radius: 0px 20px 20px 0px;
    text-align: right;
    font-weight: 100;
}

.player-name{
    position: fixed;
    bottom: 20px;
    left: 0;
    padding: 10px 30px 10px 30px;
    margin: 0px;
    background: rgba(0,0,0,0.5);
    border-radius: 0px 20px 20px 0px;
    text-align: right;
    font-weight:100;
}

.opponent-half{
    position: absolute;
    background: red;
    left: 0;
    right: 0;
    top: 0;
    height: 50%;
    box-sizing: border-box;
    border-bottom: 10px solid #511D54;
}

.player-half{
    position: absolute;
    background: lime;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    box-sizing: border-box;
    border-top: 10px solid #511D54;
}